body {
    background: #888888;
    color: #000000;
    text-align: center;
    padding: 50px;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0.5rem;
}

button:hover {
    background-color: #003c86;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 0.5rem;
    vertical-align: middle;
    border: 1px solid #000000;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #00ff6a;
}

#result_log, #result_reboot {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_box {
    width: 300px;
    height: 200px;
    border: 1px solid #003c86;
    border-radius: 6px;
    padding: 1rem;
    background-color: #b8b8b8;
    text-align: left;
    white-space: pre-wrap;
    overflow-y: auto;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}